<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shedule</title>
  <style type="text/css">
    .open { text-decoration: underline; }
    td, th {
      border: 1px solid black;
    }
    table {
      border-collapse: collapse;
      text-align: center;
      font-size: 10pt;
    }
    .title {
      font-weight: bold;
      text-align: center;
      padding: 15px;
    }
    .group-name{
      font-weight: bold;
    }
    .suway{
      display: block;
    }
    .footer {
      border-top: 1px solid black;
      border-style: none;
      border-width: 0px;
      font-weight:bold;
      padding: 10px;
    }
    .title-top {
      border-style:none;
      border-width: 0px;
      font-weight:bold;
      font-size:11pt;
      padding: 10px;
    }
  </style>
</head>
<body>
  <div id="app">
    <table>
      <thead>
        <tr>
          <td colspan="9" class="title-top">
            Расписание собраний АА Санкт-Петербурга и Ленинградской области
          </td>
        </tr>
        <tr>
          <th width=186>Название группы</th>
          <th rowspan="2" width=300>Адрес группы</th>
          <th colspan="7" width=370>
            Время проведения собраний групп и их <u>открытость</u>
          </th>
        </tr>
        <tr>
          <th>Район расположения</th>
          <th width=50>Пн</th>
          <th width=50>Вт</th>
          <th width=50>Ср</th>
          <th width=50>Чт</th>
          <th width=50>Пт</th>
          <th width=50>Сб</th>
          <th width=50>Вс</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="shedule in shedules">
          <td v-if="isTitle(shedule)" colspan="9" class="title">
            {{ shedule.content.table_title }}
          </td>
          <template v-if="isShedule(shedule)">
            <td>
              <span class="group-name">
                {{ shedule.content.group_name }}
              </span>
              <span class="suway">
                {{ shedule.content.suway_station }}
              </span>
            </td>
            <td>{{ shedule.content.group_addres }}</td>
            <template v-for="day in days">
              <td>
                <div v-for="time in shedule.content.days[day]"
                     v-bind:class="className(time)">
                     {{ time.time }}
                </div>
              </td>
            </template>
          </template>
        </tr>
        <tr>
          <td class="footer" colspan="9">
            Подчеркнуто <u>12:00</u> - открытые собрания (могут посещать родственники, знакомые, друзья алкоголиков).
            <br>
            МЦО АА в Санкт-Петербурге: +7 (812) 906-40-16
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script type="text/javascript" src="parsed.json?v=12.2018"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script>
    var s = JSON.stringify(data);
    var json = JSON.parse(JSON.parse(s));

    new Vue({
      el: '#app',
      data: {
        shedules: json.groups,
        days: [
          'monday',
          'tuesday',
          'wednesday',
          'thursday',
          'friday',
          'saturday',
          'sunday'
        ]
      },
      methods: {
        isTitle: function (shedule) {
          return shedule.row_type == 'title';
        },
        isShedule: function (shedule) {
          return shedule.row_type == 'schedule';
        },
        className: function (type) {
          if ( type.type == 'open') {
            return 'open'
          } else if (type.type == 'schedule') {
            return 'closed'
          }
        }
      }
    })
  </script>
</body>
</html>
